.container{
    text-align: center;
}
h1{
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background-color: darken($color: lightsalmon, $amount: 7%);
    }
    &:hover a{
        color: white;
    }
}
h1 a{
    transition: 0.5s;
    font-family: "axiforma";
    color: black;
    text-decoration: none;
}